* {
  box-sizing : border-box;

}

.row:before,
.row:after {
  content : " ";
  display : table;
  clear: both;
}

.border{
  border: 1px solid red;
}

/*header*/

header{
  background-image: url("../images/header-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 2000px;
  padding-bottom: 55%;
  height: 0;
  .iconMenu{
    display: none;

  }
  .headerTxt{
    .headerTxtTitle{
      font-family: 'Existence', sans-serif;
      text-align: center;
      font-size: 1.5em;
      color: white;
      margin-top: 4%;
      span{
        color: $col-violet;
      }

    }

    p:last-of-type{
      margin-top: 5%;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: white;
      font-size: .9em;
      span{
        font-size: 1.2em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
    }


    @media(min-width: 400px){
      .headerTxtTitle{
        margin-top: 7%;

      }
      p:last-of-type{
        margin-top: 10%;

      }

    }
    @media(min-width: 480px){
      .headerTxtTitle{
        margin-top: 7%;
        font-size: 2.5em;
      }
      p:last-of-type{
        margin-top: 7%;
        font-size: 1.1em;
        span{
          line-height: 2.5em;
        }
      }
    }
    @media(min-width: 480px){
      .headerTxtTitle{
        margin-top: 7%;
        font-size: 3em;
      }
      p:last-of-type{
        margin-top: 7%;
        font-size: 1.3em;
        span{
          line-height: 3em;
        }
      }
    }
    @media(max-width: 768px){
      margin: 0  1% 0 1% ;
    }
    @media(min-width: 768px){
      .headerTxtTitle{
        margin-top: 5%;
      }
      p:last-of-type{
        margin-top: 5%;
        font-size: 1em;
        span{
          line-height: 1em;
        }
      }
    }
    @media(min-width: 1200px){
      .headerTxtTitle{
        margin-top: 50px;
        font-size: 60px;
      }
      p:last-of-type{
        margin-top: 40px;
        font-size: 20px;
        span{
          line-height: 45px;
          font-size: 30px;
        }
      }
    }
    @media(min-width: 1600px){
      .headerTxtTitle{
        margin-top: 100px;
        font-size: 90px;
      }
      p:last-of-type{
        margin-top: 84px;
        font-size: 24px;
        span{
          display: block;
          font-size: 48px;
        }
      }
    }
  }

  @media(min-width: 768px){
    .iconMenu{
      display: block;
      margin-top: 2%;
      img{
        &:hover{
          -webkit-mask-box-image: url("../images/maskMenu.svg");
          background-color: $col-violet;
        }
      }
    }
  }
  @media(min-width: 992px){
    .icon{
      width: 82%;
      max-width: 171px;
    }
  }
  @media(min-width: 1200px){
    .icon{
      width: 82%;
      max-width: 171px;
    }
  }
  @media(min-width: 1300px){
    .icon{
      width: 100%;
      max-width: 171px;
    }
  }
  .arrow{
    display: none;
    margin: 0 auto;
    width: 7%;
    max-width: 90px;
    @media(min-width: 900px){
      display: block;
    }
  }
}

/* menu */

nav{
  h2{
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $col-font-nav;
    line-height: 50px;
    margin-left: 2%;
    span{
      font-weight: 300;
      color: $col-violet;
    }
    @media(min-width: 768px){
      font-size: 20px;
      line-height: 70px;
    }
    @media(min-width: 1200px){
      font-size: 30px;
      color: $col-font-nav;
      line-height: 140px;
    }

  }
  .menuHead{
    float: right;
    display: none;
    li{
      display: inline-block;
      padding-left: 34px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      a{
        color: $col-font-nav;
        &:hover{
          color: $col-violet;
        }
      }
    }
    @media(min-width: 900px){
      display: block;
      font-size: 12px;
      line-height: 70px;
    }
    @media(min-width: 1200px){
      font-size: 18px;
      line-height: 140px;
    }

  }

  .hamUnicode{
    line-height: 50px;
    a{
      color: $col-font-nav;
      float: right;
      margin-right: 2%;
    }
    @media(min-width: 768px){
      font-size: 20px;
      line-height: 70px;
    }
  }

  .menu_ham{
    position: absolute;
    margin-top: 50px;
    display: block;
    width: 100vw;
    text-align: center;
    li{

      &:nth-child(2n+1){
        background-color: rgb(224, 224, 224);

      }
    }
    a{
      color: $col-font-nav;
      text-decoration: none;
      line-height: 30px;
      &:hover{
        color: $col-violet;
      }
    }

  }
  .hidden_Class{
    display: none;
  }
  @media(min-width: 900px){
    .menu_hamburger{
      display: none;
    }
  }
}

/*HOME*/
.home{
  background-color: $col-home;

}
.iconHeart ,.iconDiamont ,.iconCup ,.iconRwd{
  display: inline-block;
  text-align: center;
  background-image: url("../images/icon-heart.png");
  background-size: cover;
  width: 100px;
  height: 106px;
  margin-top: 8%;

  @media(min-width: 480px){
    margin-top: 10%;

  }
  @media(min-width: 1200px){
    width: 176px;
    height: 190px;

  }

}
.iconDiamont{
  background-image: url("../images/icon-diamont.png");

}
.iconCup{
  background-image: url("../images/icon-cup.png");

}
.iconRwd{
  background-image: url("../images/icon-rwd.png");

}

.homeFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  @media(min-width: 992px){
    height: 500px;
  }
  @media(min-width: 1200px){
    height: 765px;
  }
  .homeCointener{
    width: 280px;
    margin: 20px auto;
    text-align: center;
    font-size: 12px;
    color: $col-font-nav;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    @media(min-width: 1200px){
      margin: 50px auto;
    }
    h2{
      font-size: 14px;
      margin: 11px 0 20px 0;
    }

    &:hover{
      .iconHeart{
        background-image: url("../images/icon-heart-hover.png");
      }
      .iconDiamont{
        background-image: url("../images/icon-diamont-hover.png");

      }
      .iconCup{
        background-image: url("../images/icon-cup-hover.png");

      }
      .iconRwd{
        background-image: url("../images/icon-rwd-hover.png");

      }

    }
    @media(min-width: 480px){
      font-size: 15px;
      h2{
        font-size: 19px;
      }
    }
    @media(min-width: 992px){
      width: 24%;
    }
    @media(min-width: 1200px){
      width: 280px;
      font-size: 16px;
      h2{
        font-size: 24px;
        margin: 43px 0 47px 0;
      }
    }
  }
}

/*About Us*/

.headline{
  h2{
    font-size: 35px;
    font-family: 'Existence', sans-serif;
    color: $col-font-nav;
    line-height: 200px;
    text-align: center;
    &::before{
      content: "\231E";
      position: relative;
      left: -20px;
      top: 30px;
      color: $col-violet;
    }
    span{
      color: $col-violet;
      &::after{
        content: "\231D";
        position: relative;
        left: 13px;
        top: -25px;
        color: $col-violet;
      }
    }
    @media(min-width: 992px){
      font-size: 48px;
      line-height: 370px;
    }
  }
}

.aboutUs{
  @media(min-width: 992px){
    height: 850px;
  }
  @media(min-width: 1200px){
    height: 1027px;
  }

}

.more{
  font-size: 12px;
  margin-top: 15px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  @media(min-width: 480px){
    margin-top: 25px;
    font-size: 14px;
    line-height: 25px;
  }
  @media(min-width: 768px){
    margin-top: 0;
    font-size: 16px;
    line-height: 36px;
  }
}
.ImagesAboutUs{
  background-image: url("../images/aboutUsMockup.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 63%;
  max-width: 653px;

  @media(min-width: 992px){
    max-width: 653px;
  }
}
.btnLearn ,.btnWatch{
  margin: 35px auto;
  display: block;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: $col-violet;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  box-shadow: 0 5px 0 $col-box-shadow;
  -webkit-box-shadow: 0 5px 0 $col-box-shadow;
  &:hover{
    text-decoration: none;
    color: white;
  }
  @media(min-width: 480px){
    margin: 35px auto;
    width: 170px;
    height: 45px;
    font-size: 17px;
    line-height: 45px;
  }
  @media(min-width: 768px){
    margin: 35px auto;
    width: 190px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
  @media(min-width: 992px){
    margin: 50px 0;
    width: 228px;
    height: 75px;
    font-size: 20px;
    line-height: 75px;
  }
}
/*edu*/


.edu{
  background-image: url("../images/bacgroudEdu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  .iconEdu{
    display: none;
    @media(min-width: 768px){
      display: block;
      width: 103px;
    }
    @media(min-width: 992px){
      width: 116px;
    }
    @media(min-width: 1200px){
      width: 171px;
    }
  }
  .flexEdu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    .eduTXT{
      p{
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
        @media(min-width: 768px){
          font-size: 25px;
        }
        @media(min-width: 992px){
          font-size: 35px;
        }
        @media(min-width: 1200px){
          font-size: 48px;
        }
      }
    }
    @media(min-width: 768px){
      height: 400px;
    }
    @media(min-width: 992px){
      height: 500px;

    }
    @media(min-width: 1200px){
      height: 626px;
    }
  }
  @media(min-width: 768px){
    height: 400px;
  }
  @media(min-width: 992px){
    height: 500px;

  }
  @media(min-width: 1200px){
    height: 626px;
  }
}

/*team*/

.mirror{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.btnTeam{
  text-align: center;
  margin-bottom: 170px;
  display: none;
  @media(min-width: 768px){
    display: block;
  }
}
.flexTeam{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media(min-width: 768px){
    justify-content: space-between;
  }
}
.imgUser{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background-color: #cdcdcd;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 85px;

  @media(min-width: 992px){
    width: 250px;
    height: 250px;
  }

}
.user1{
  text-align: center;
  width: 240px;
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: $col-team;
  }
  .position{
    font-weight: 400;
    font-size: 18px;
    color: $col-team-pos;
  }
  @media(min-width: 768px){
    width: 240px;
  }
  @media(min-width: 992px){
    width: 260px;
  }
}

.socialMedia{
  a{
    img{
      padding-top: 36px;
      padding-bottom: 120px;
    }
  }
}


/*Skills*/
.skill{
  width: 269px;
  display: inline-block;
  p{
    font-size: 22px;
    font-family: 'HelveticaBold', sans-serif;
    float: left;
  }
  .procent{
    font-size: 24px;
    font-family: 'HelveticaLigth', sans-serif;
    float: right;
  }
  .bar{
    height: 20px;
    width: 296px;
    background-color: $col-bar;
    float: left;
    margin-top: 26px;
    margin-bottom: 70px;
    .progress{
      width: 90%;
      background-color: $col-violet;
      height: 100%;
    }
    .progressGraphic{
      width: 70%;
      background-color: $col-violet;
      height: 100%;
    }
    .progressHtml{
      width: 75%;
      background-color: $col-violet;
      height: 100%;
    }

    .progressUi{
      width: 85%;
      background-color: $col-violet;
      height: 100%;

    }
    @media(min-width: 500px){
      width: 450px;
    }
    @media(min-width: 992px){
      margin-top: 26px;
      margin-bottom: 46px;
    }

  }
  @media(min-width: 500px){
    width: 420px;
  }
}



.skillFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media(min-width: 992px){
    justify-content: space-between;
    margin-bottom: 90px;
  }
  @media(min-width: 1200px){
    margin-bottom: 150px;
  }
}

/*banner*/

.banner{
  display: none;
  @media(min-width: 768px){
    display: block;
    background-color: $col-grey;
    text-align: center;
    .bannerFlex{
      display: flex;
      justify-content: space-around;
      text-align: center;
      font-size: 40px;
      font-family: 'HelveticaLigth', sans-serif;
      margin-top: 164px;
      p{
        font-size: 12px;
        color: $col-team-pos;
      }
      @media(min-width: 1200px){
        font-size: 64px;
        p{
          font-size: 16px;
          color: $col-team-pos;
        }

      }
    }
    .circle{
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      background-color: #cdcdcd;
      width: 171px;
      height: 171px;
      margin: 75px auto 26px auto;
      @media(min-width: 1200px){
        margin: 149px auto 46px auto;
      }
    }
    .bannerTXT{
      font-size: 25px;
      color: $col-font-banner;
      margin-bottom: 122px;
      span{
        font-size: 14px;
        font-family: 'HelveticaBold', sans-serif;

      }
      @media(min-width: 1200px){
        font-size: 33px;
        margin-bottom: 232px;
        span{
          font-size: 20px;
          font-family: 'HelveticaBold', sans-serif;

        }
      }
    }
  }
}

/*portfolio*/
.portfolioBTN{
  text-align: center;
  margin-bottom: 70px;
  a{
    display: inline-block;
    width: 84px;
    height: 38px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
    margin: 10px 10px;
    &:hover{
      color: $col-violet;
      text-decoration: none;
      border: 1px solid $col-violet;
    }
    &:active{
      background-color: $col-violet;
      color: white;
      text-decoration: none;
      border: 1px solid $col-violet;
    }
  }
}
.portfolioFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .portfolioItem{
    width: 350px;
    height: 433px;
    text-align: center;
    p{
      font-family: 'HelveticaLigth', sans-serif;
      font-size: 23px;
      color: $col-team;
    }
    .portfolioFiltr{
      font-size: 16px;
      color: $col-team-pos;
    }
    @media(min-width: 992px){
      width: 360px;
      height: 433px;
    }
  }
  @media(min-width: 768px){
    justify-content: space-between;
  }
}
.btnWatch{
  margin: 62px auto;
}

/*formularz*/
.form{
  text-align: center;
  input ,textarea{
    height: 50px;
    width: 290px;
    font-size: 14px;
    font-family: 'HelveticaLigth', sans-serif;
    line-height: 50px;
    padding-left: 15px;
    border: 1px solid $col-team-pos;
    @include placeholder{
      color: $col-font-form;
    }
    margin-bottom: 20px;
  }
  textarea{
    height: 282px;
    width: 290px;
    max-width: 290px;
  }
  .sendMail{
    margin:0 auto;
  }
  @media(min-width: 480px){
    input ,textarea{
      width: 320px;

    }
    textarea{
      width: 320px;
      max-width: 320px;
    }

  }
  @media(min-width: 600px){
    input ,textarea{
      font-size: 16px;
      width: 350px;

    }
    textarea{
      width: 350px;
      max-width: 350px;
    }

  }
  @media(min-width: 992px){
    input ,textarea{
      font-size: 18px;
      width: 400px;

    }
    textarea{
      width: 400px;
      max-width: 400px;
    }

  }
  @media(min-width: 1200px){
    input ,textarea{
      height: 72px;
      width: 526px;
      font-size: 22px;
      line-height: 72px;
      margin-bottom: 39px;
    }
    textarea{
      height: 282px;
      width: 526px;
      max-width: 526px;
    }
    .sendMail{
      margin: 0 0 0 12px;
    }
  }

}

.formAdress{

  text-align: left;
  .adress{
    margin: 0 auto;
    width: 290px;
    .formTxt{
      font-family: 'HelveticaLigth', sans-serif;
      font-size: 14px;
      color: $col-font-banner;
      margin-top: 50px;
    }
    .formAdress{
      font-family: 'HelveticaBold', sans-serif;
      font-size: 16px;
      color: $col-font-form;
    }
    .formIcon{
      text-align: center;
      img{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        @media(min-width: 768px){
          margin-top: 30px;
          width: 60px;
          height: 60px;
        }
        @media(min-width: 992px){
          margin-top: 30px;
          width: 80px;
          height: 80px;
        }
      }
      @media(min-width: 1200px){
        text-align: left;
      }
    }

    @media(min-width: 768px){
      .formTxt{
        margin-top: 0;
        font-size: 18px;
      }
      .formAdress{
        font-size: 22px;
      }
    }
    @media(min-width: 992px){
      .formTxt{
        margin-top: 0;
        font-size: 20px;
      }
      .formAdress{
        font-size: 26px;
      }
    }
    @media(min-width: 1200px){
      .formTxt{
        font-size: 22px;
      }
      .formAdress{
        font-size: 28px;
      }
    }
    @media(min-width: 480px){
      width: 320px;
    }
    @media(min-width: 600px){
      width: 350px;
    }
    @media(min-width: 768px){
      width: 100%;
    }
  }

}

/*footer*/
footer{
  text-align: center;
  p{
    font-size: 20px;
    line-height: 100px;
    font-family: 'Existence', sans-serif;
    color: $col-font-nav;
    span{
      color: $col-violet;
    }
    @media(min-width: 480px){
      font-size: 25px;
      line-height: 130px;
    }
    @media(min-width: 600px){
      font-size: 30px;
      line-height: 160px;
    }
    @media(min-width: 768px){
      font-size: 35px;
      line-height: 190px;
    }
    @media(min-width: 768px){
      font-size: 40px;
      line-height: 240px;
    }
    @media(min-width: 1200px){
      font-size: 51px;
      line-height: 300px;
    }
  }
}
