// fonty

@font-face {
	font-family: 'Existence';
	src: url('../font/Existence-Light.otf');
}
@font-face {
	font-family: 'HelveticaBold';
	src: url('../font/HelveticaNeueLTStd-Bd.otf');
}
@font-face {
	font-family: 'HelveticaLigth';
	src: url('../font/HelveticaNeueLTStd-Lt.otf');
}
